fastapi>=0.95.0
pydantic>=1.10.5
starlette>=0.26.1
uvicorn>=0.20.0
SQLAlchemy~=2.0.17
passlib~=1.7.4
python-jose==3.3.0
psycopg2-binary==2.9.6
python-multipart~=0.0.6
motor~=3.2.0
jose~=1.0.0
pymongo~=4.4.0
pydantic[email]
structlog~=23.1.0
termcolor~=2.3.0
Pygments~=2.15.1